# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

target

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*_ignored
.secrets

# Ballance mod files
src-bmodp/.clangd
src-bmodp/build
src-bmodp/3rd-party/*
!src-bmodp/3rd-party/CMakeLists.txt
!src-bmodp/3rd-party/Virtools-SDK-2.1
# Note: BMLPlus SDK is downloaded automatically via build script and should not be committed